@charset "utf-8";
/* Top Section */

div#top {
    background-image: url(../Images/Hero\ 2\ Optimized.jpg);
    background-size: cover;
    background-position: 50% 57%;
    height: 60vh;
}

div#top div#title {
    background-color: rgba(52, 61, 70, 70%);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0.7rem;
    text-shadow: -3px 3px 4px black;
    padding: 3rem 7rem;
}

div#top h1 {
    font-family: olegos, Arial, Helvetica, sans-serif;
    font-size: 4em;
}

div#top p {
    font-family: montserrat, Arial, Helvetica, sans-serif;
}

div#title hr {
    background-color: white;
}

/* Main Content */

div#whyus {
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 4rem 0;
}

div#whyus p {
    font-family: montserrat, Arial, Helvetica, sans-serif;
}

div#whyus h1 {
    font-family: "Noto Sans TC", sans-serif;
}

div#description h1 {
    font-family: "Noto Sans TC", sans-serif;
}

div#description p {
    font-family: montserrat, Arial, Helvetica, sans-serif;
    padding-right: 3rem;
}

div#request {
    padding-top: 7rem;
    padding-bottom: 4rem;
}

div#request p {
    font-family: montserrat, Arial, Helvetica, sans-serif;
    padding-top: 1rem;
}
div#request form{
    padding-bottom: 4rem;
}

div#request img {
    max-width: 40%;
    height: auto;
    padding-top: rem;
}

p#testimonialtext::before {
    content: "\201c";
    font-size: 2em;
}

p#author::before {
    content: "\2014";
}
